// Shorthand functions to retrieve value from config maps.

// Background color
@function bg-color($key) {
  @return map-get($background-colors, $key);
}

// Background size
@function bg-size($key) {
  @return map-get($background-size, $key);
}

// Border width
@function border-width($key) {
  @return map-get($border-widths, $key);
}

// Color
@function color($key) {
  @return map-get($colors, $key);
}


// Border color
@function border-color($key) {
  @return map-get($border-colors, $key);
}


// Border radius
@function border-radius($key) {
  @return map-get($borderRadius, $key);
}


// Font
@function font($key) {
  @return implode(map-get($fonts, $key), ',');
}

// Font weight
@function font-weight($key) {
  @return map-get($font-weights, $key);
}

// Leading
@function leading($key) {
  @return map-get($leading, $key);
}

// Tracking
@function tracking($key) {
  @return map-get($tracking, $key);
}

// Text color
@function text-color($key) {
  @return map-get($text-colors, $key);
}

// Text size
@function text-size($key) {
  @return map-get($text-sizes, $key);
}

// Margin
@function margin($key: 4) {
  @return map-get($margin, $key);
}

// Negative margin
@function negative-margin($key: 4) {
  @return map-get($negative-margin, $key);
}

// Padding
@function padding($key: 4) {
  @return map-get($padding, $key);
}

// Width
@function width($key) {
  @return map-get($width, $key);
}

// Min width
@function min-width($key) {
  @return map-get($min-width, $key);
}

// Max width
@function max-width($key) {
  @return map-get($max-width, $key);
}

// Height
@function height($key) {
  @return map-get($height, $key);
}

// Min Height
@function min-height($key) {
  @return map-get($min-height, $key);
}

// Max Height
@function max-height($key) {
  @return map-get($max-height, $key);
}

// Shadow
@function shadow($key) {
  @return map-get($shadows, $key);
}

// Z-index
@function z-index($key) {
  @return map-get($z-index, $key);
}

// Opacity
@function opacity($key) {
  @return map-get($opacity, $key);
}

// SVG fill
@function svg-fill($key) {
  @return map-get($svg-fill, $key);
}

// SVG stroke
@function svg-stroke($key) {
  @return map-get($svg-stroke, $key);
}

