// noinspection CssUnknownTarget
//@import "variables";
@import "functions";
@import "definitions";
@import "shorthand";
@import "mixins";

// Setup
$util-prefix: '';
$util-separator: '\\:';

// Generators
@include generate-utilities($map: $util-appearance, $responsive: true);
@include generate-utilities($map: $util-backgroundAttachment, $responsive: false);
@include generate-utilities($map: $util-backgroundPosition, $responsive: false);
@include generate-utilities($map: $util-backgroundRepeat, $responsive: false);
@include generate-utilities($map: $util-borderCollapse, $responsive: false);
@include generate-utilities($map: $util-borderStyle, $responsive: false);
@include generate-utilities($map: $util-cursor, $responsive: false);
@include generate-utilities($map: $util-display, $responsive: true);
@include generate-utilities($map: $util-flexbox, $responsive: false);
@include generate-utilities($map: $util-float, $responsive: false);
@include generate-utilities($map: $util-lists, $responsive: false);
@include generate-utilities($map: $util-outline, $responsive: false);
@include generate-utilities($map: $util-overflow, $responsive: false);
@include generate-utilities($map: $util-pointerEvents, $responsive: false);
@include generate-utilities($map: $util-position, $responsive: false);
@include generate-utilities($map: $util-resize, $responsive: false);
@include generate-utilities($map: $util-tableLayout, $responsive: false);
@include generate-utilities($map: $util-textAlign, $responsive: false);
@include generate-utilities($map: $util-textStyle, $responsive: false);
@include generate-utilities($map: $util-transform, $responsive: false);
@include generate-utilities($map: $util-userSelect, $responsive: false);
@include generate-utilities($map: $util-verticalAlign, $responsive: false);
@include generate-utilities($map: $util-visibility, $responsive: false);
@include generate-utilities($map: $util-whitespace, $responsive: false);
@include generate-utilities($map: $util-objectFit, $responsive: false);
@include generate-utilities($map: $util-screenreader, $responsive: false);

// Variable utilities
@include generate-utilities($map: $background-colors, $prefix: 'bg', $prop: 'background-color', $responsive: true, $states: ('focus', 'hover'));
@include generate-utilities($map: $background-size, $prefix: 'bg', $prop: 'background-size', $responsive: false);
@include generate-utilities($map: $border-colors, $prefix: 'border', $prop: 'border-color', $responsive: false, $states: ('focus', 'hover'));
@include generate-utilities($map: $font-weights, $prefix: 'font', $prop: 'font-weight', $responsive: false, $states: ());
@include generate-utilities($map: $height, $prefix: 'h', $prop: 'height', $responsive: false, $states: ());
@include generate-utilities($map: $leading, $prefix: 'leading', $prop: 'line-height', $responsive: false, $states: ());
@include generate-utilities($map: $min-height, $prefix: 'min-h', $prop: 'min-height', $responsive: false, $states: ());
@include generate-utilities($map: $max-height, $prefix: 'max-h', $prop: 'max-height', $responsive: false, $states: ());
@include generate-utilities($map: $min-width, $prefix: 'min-w', $prop: 'min-width', $responsive: false, $states: ());
@include generate-utilities($map: $max-width, $prefix: 'max-w', $prop: 'max-width', $responsive: false, $states: ());
@include generate-utilities($map: $opacity, $prefix: 'opacity', $prop: 'opacity', $responsive: false, $states: ());
@include generate-utilities($map: $shadows, $prefix: 'shadow', $prop: 'box-shadow', $responsive: false, $states: ());
@include generate-utilities($map: $svg-fill, $prefix: 'fill', $prop: 'fill', $responsive: false, $states: ());
@include generate-utilities($map: $svg-stroke, $prefix: 'stroke', $prop: 'stroke', $responsive: false, $states: ());
@include generate-utilities($map: $text-colors, $prefix: 'text', $prop: 'color', $responsive: false, $states: ());
@include generate-utilities($map: $text-sizes, $prefix: 'text', $prop: 'font-size', $responsive: false, $states: ());
@include generate-utilities($map: $tracking, $prefix: 'tracking', $prop: 'letter-spacing', $responsive: false, $states: ());
@include generate-utilities($map: $width, $prefix: 'w', $prop: 'width', $responsive: false, $states: ());
@include generate-utilities($map: $z-index, $prefix: 'z', $prop: 'z-index', $responsive: false, $states: ());

// Special utilities
@include generate-border-radius($responsive: true);
@include generate-border-width($responsive: false, $states: ());
@include generate-margin($responsive: true, $states: ());
@include generate-negative-margin($responsive: true, $states: ());
@include generate-padding($responsive: true, $states: ());
@include generate-fonts($responsive: false);

// Components/Groups
@include generate-ratios($responsive: true);
@include generate-container();
