@mixin generate-border-radius($map: $borderRadius, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($responsive) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

        @include generate-border-radius($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
      }
    }
  }
  @else {
    @each $name, $val in $map {

      $modifier: '-#{$name}';
      @if ($name == 'default') {
        $modifier: '';
      }

      $groupPrefix: '';
      $stateModifier: '';
      $stateSelector: '';

      @each $state in $states {
        @if ($state == 'focus') {
          $stateModifier: 'focus#{$util-separator}';
          $stateSelector: ':focus';
        } @else if ($state == 'hover') {
          $stateModifier: 'hover#{$util-separator}';
          $stateSelector: ':hover';
        } @else if ($state == 'group-hover') {
          $stateModifier: 'group-hover#{$util-separator}';
          $groupPrefix: '.group:hover ';
        } @else {
          $groupPrefix: '';
          $stateModifier: '';
          $stateSelector: '';
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded#{$modifier}#{$stateSelector} {
          border-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-t#{$modifier}#{$stateSelector} {
          border-top-left-radius: $val;
          border-top-right-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-r#{$modifier}#{$stateSelector} {
          border-top-left-radius: $val;
          border-bottom-right-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-b#{$modifier}#{$stateSelector} {
          border-bottom-left-radius: $val;
          border-bottom-right-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-l#{$modifier}#{$stateSelector} {
          border-bottom-left-radius: $val;
          border-top-left-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-tl#{$modifier}#{$stateSelector} {
          border-top-left-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-tr#{$modifier}#{$stateSelector} {
          border-top-right-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-br#{$modifier}#{$stateSelector} {
          border-bottom-right-radius: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}rounded-bl#{$modifier}#{$stateSelector} {
          border-bottom-left-radius: $val;
        }
      }
    }
  }
}
