@mixin generate-border-width($map: $border-widths, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($responsive) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

        @include generate-border-width($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
      }
    }
  }
  @else {
    @each $name, $val in $map {

      $modifier: '-#{$name}';
      @if ($name == 'default') {
        $modifier: '';
      }

      $groupPrefix: '';
      $stateModifier: '';
      $stateSelector: '';

      @each $state in $states {
        @if ($state == 'focus') {
          $stateModifier: 'focus#{$util-separator}';
          $stateSelector: ':focus';
        }
        @else if ($state == 'hover') {
          $stateModifier: 'hover#{$util-separator}';
          $stateSelector: ':hover';
        }
        @else if ($state == 'group-hover') {
          $stateModifier: 'group-hover#{$util-separator}';
          $groupPrefix: '.group:hover ';
        }
        @else {
          $groupPrefix: '';
          $stateModifier: '';
          $stateSelector: '';
        }

        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}borders#{$modifier}#{$stateSelector} {
          border-width: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}border-t#{$modifier}#{$stateSelector} {
          border-top-width: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}border-r#{$modifier}#{$stateSelector} {
          border-right-width: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}border-b#{$modifier}#{$stateSelector} {
          border-bottom-width: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}border-l#{$modifier}#{$stateSelector} {
          border-left-width: $val;
        }
      }
    }
  }
}
