@mixin generate-container($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  
  .container {
    width: 100%;
    // For each breakpoint, define the maximum width of the container in a media query
    @each $breakpoint, $container-max-width in $max-widths {
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        max-width: $container-max-width;
      }
    }
  }
}
