@mixin generate-fonts($map: $fonts, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($responsive) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

        @include generate-fonts($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
      }
    }
  }
  @else {
    @each $name, $families in $map {

      $modifier: '-#{$name}';
      @if ($name == 'default') {
        $modifier: '';
      }

      $family: '';
      @if (type_of($families) == 'list') {
        $family: implode($families, ', ');
      }

      $groupPrefix: '';
      $stateModifier: '';
      $stateSelector: '';

      @each $state in $states {
        @if ($state == 'focus') {
          $stateModifier: 'focus#{$util-separator}';
          $stateSelector: ':focus';
        }
        @else if ($state == 'hover') {
          $stateModifier: 'hover#{$util-separator}';
          $stateSelector: ':hover';
        }
        @else if ($state == 'group-hover') {
          $stateModifier: 'group-hover#{$util-separator}';
          $groupPrefix: '.group:hover ';
        }
        @else {
          $groupPrefix: '';
          $stateModifier: '';
          $stateSelector: '';
        }

        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}font#{$modifier}#{$stateSelector} {
          font-family: $family;
        }
      }
    }
  }
}
