@mixin generate-negative-margin($map: $negative-margin, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($responsive) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

        @include generate-negative-margin($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
      }
    }
  }
  @else {
    @each $name, $val in $map {

      $modifier: '-#{$name}';
      @if ($name == 'default') {
        $modifier: '';
      }

      $groupPrefix: '';
      $stateModifier: '';
      $stateSelector: '';

      @each $state in $states {
        @if ($state == 'focus') {
          $stateModifier: 'focus#{$util-separator}';
          $stateSelector: ':focus';
        }
        @else if ($state == 'hover') {
          $stateModifier: 'hover#{$util-separator}';
          $stateSelector: ':hover';
        }
        @else if ($state == 'group-hover') {
          $stateModifier: 'group-hover#{$util-separator}';
          $groupPrefix: '.group:hover ';
        }
        @else {
          $groupPrefix: '';
          $stateModifier: '';
          $stateSelector: '';
        }

        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-m#{$modifier}#{$stateSelector} {
          margin: #{$val};
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-my#{$modifier}#{$stateSelector} {
          margin-top: #{$val};
          margin-bottom: #{$val};
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-mx#{$modifier}#{$stateSelector} {
          margin-left: #{$val};
          margin-right: #{$val};
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-mt#{$modifier}#{$stateSelector} {
          margin-top: #{$val};
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-mr#{$modifier}#{$stateSelector} {
          margin-right: #{$val};
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-mb#{$modifier}#{$stateSelector} {
          margin-bottom: #{$val};
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}-ml#{$modifier}#{$stateSelector} {
          margin-left: #{$val};
        }
      }
    }
  }
}
