@mixin generate-padding($map: $padding, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($responsive) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

        @include generate-padding($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
      }
    }
  }
  @else {
    @each $name, $val in $map {

      $modifier: '-#{$name}';
      @if ($name == 'default') {
        $modifier: '';
      }

      $groupPrefix: '';
      $stateModifier: '';
      $stateSelector: '';

      @each $state in $states {
        @if ($state == 'focus') {
          $stateModifier: 'focus#{$util-separator}';
          $stateSelector: ':focus';
        }
        @else if ($state == 'hover') {
          $stateModifier: 'hover#{$util-separator}';
          $stateSelector: ':hover';
        }
        @else if ($state == 'group-hover') {
          $stateModifier: 'group-hover#{$util-separator}';
          $groupPrefix: '.group:hover ';
        }
        @else {
          $groupPrefix: '';
          $stateModifier: '';
          $stateSelector: '';
        }

        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}p#{$modifier}#{$stateSelector} {
          padding: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}py#{$modifier}#{$stateSelector} {
          padding-top: $val;
          padding-bottom: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}px#{$modifier}#{$stateSelector} {
          padding-left: $val;
          padding-right: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}pt#{$modifier}#{$stateSelector} {
          padding-top: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}pr#{$modifier}#{$stateSelector} {
          padding-right: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}pb#{$modifier}#{$stateSelector} {
          padding-bottom: $val;
        }
        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}pl#{$modifier}#{$stateSelector} {
          padding-left: $val;
        }
      }
    }
  }
}
