@mixin generate-ratios($map: $ratios, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($responsive) {
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

        @include generate-ratios($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
      }
    }
  }
  @else {
    @each $name, $percentage in $map {

      $modifier: '-#{$name}';
      @if ($name == 'default') {
        $modifier: '';
      }

      $groupPrefix: '';
      $stateModifier: '';
      $stateSelector: '';

      @each $state in $states {
        @if ($state == 'focus') {
          $stateModifier: 'focus#{$util-separator}';
          $stateSelector: ':focus';
        }
        @else if ($state == 'hover') {
          $stateModifier: 'hover#{$util-separator}';
          $stateSelector: ':hover';
        }
        @else if ($state == 'group-hover') {
          $stateModifier: 'group-hover#{$util-separator}';
          $groupPrefix: '.group:hover ';
        }
        @else {
          $groupPrefix: '';
          $stateModifier: '';
          $stateSelector: '';
        }

        #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}ratio#{$modifier}#{$stateSelector} {
          position: relative;
          width: 100%;
          &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: ($percentage * 100%);
          }
          & > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
