$util-mappings: map-collect((
  bg: ((map: $background-colors, props: background-color)),
  font: (map: $font-weights, props: font-weight),
  leading: (map:$leading, props: line-height),
  m: (map: $margin, props: margin),
  my: (map: $margin, props: (margin-top, margin-bottom)),
  mx: (map: $margin, props: (margin-left, margin-right)),
  mt: (map: $margin, props: margin-top),
  mr: (map: $margin, props: margin-right),
  mb: (map: $margin, props: margin-bottom),
  ml: (map: $margin, props: margin-left),
  -m: (map: $margin, props: margin),
  -my: (map: $negative-margin, props: (margin-top, margin-bottom)),
  -mx: (map: $negative-margin, props: (margin-left, margin-right)),
  -mt: (map: $negative-margin, props: margin-top),
  -mr: (map: $negative-margin, props: margin-right),
  -mb: (map: $negative-margin, props: margin-bottom),
  -ml: (map: $negative-margin, props: margin-left),
  opacity: (map: $opacity, props: opacity),
  p: (map: $padding, props: padding),
  py: (map: $padding, props: (padding-top, padding-bottom)),
  px: (map: $padding, props: (padding-left, padding-right)),
  pt: (map: $padding, props: padding-top),
  pr: (map: $padding, props: padding-right),
  pb: (map: $padding, props: padding-bottom),
  pl: (map: $padding, props: padding-left),
  rounded: (map: $borderRadius, props: border-radius),
  text: ((map: $text-colors, props: color),(map: $text-sizes, props: font-size)),
  w: ((map: $width, props: width)),
  z: ((map: $z-index, props: z-index)),
),
  $util-appearance,
  $util-backgroundAttachment,
  $util-backgroundPosition,
  $util-backgroundRepeat,
  $util-borderCollapse,
  $util-borderStyle,
  $util-cursor,
  $util-display,
  $util-flexbox,
  $util-float,
  $util-lists,
  $util-outline,
  $util-overflow,
  $util-pointerEvents,
  $util-position,
  $util-resize,
  $util-tableLayout,
  $util-textAlign,
  $util-textStyle,
  $util-transform,
  $util-userSelect,
  $util-verticalAlign,
  $util-visibility,
  $util-whitespace,
  $util-objectFit,
  $util-screenreader);

@mixin apply($classNames) {
  @each $className in $classNames {

    @if (map-has-key($util-mappings, $className)) {
      $props: map-get($util-mappings, $className);
      @if type-of(nth($props, 1)) == 'list' {
        @each $prop in $props {
          #{nth($prop, 1)}: nth($prop, 2);
        }
      }
      @else {
        #{nth($props, 1)}: nth($props, 2);
      }
    }
    @else {
      // split $className in shorthand name and mapping key
      $pos: str-index($className, '-');

      $negative: false;
      @if $pos == 1 {
        // negative margin
        $negative: true;
        $className: str-slice($className, 2);

        $pos: str-index($className, '-');
      }

      @if ($pos != null) {
        $shorthand: str-slice($className, 0, ($pos - 1));
        $key: str_slice($className, ($pos + 1));

        @if $negative {
          $shorthand: '-#{$shorthand}';
        }

        $def: map-get($util-mappings, $shorthand);

        @if type-of($def) == 'map' {
          $map: map-get($def, 'map');
          $props: map-get($def, 'props');

          @if type-of($props) == 'list' {
            @each $prop in $props {
              #{$prop}: map-get($map, $key);
            }
          }
          @else {
            #{$props}: map-get($map, $key);
          }
        }
        @else if type-of($def) == 'list' {

          @each $entry in $def {
            $map: map-get($entry, 'map');
            $props: map-get($entry, 'props');

            @if type-of($props) == 'list' {
              @each $prop in $props {
                #{$prop}: map-get($map, $key);
              }
            }
            @else {
              #{$props}: map-get($map, $key);
            }
          }
        }
      }
    }
  }
}
