@mixin generate-utilities($map: (), $prefix: null, $prop: null, $responsive: false, $infixModifier: '', $states: []) {

  @if (index($states, 'default') == null) {
    $states: append($states, ('default'));
  }

  @if ($prefix and $prop) {
    @if ($responsive) {
      @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

          @include generate-utilities($map: $map, $prefix: $prefix, $prop: $prop, $responsive: false, $infixModifier: $infix, $states: $states);
        }
      }
    }
    @else {
      @each $name, $val in $map {

        $modifier: '-#{$name}';
        @if ($name == 'default') {
          $modifier: '';
        }

        $groupPrefix: '';
        $stateModifier: '';
        $stateSelector: '';

        @each $state in $states {
          @if ($state == 'focus') {
            $stateModifier: 'focus#{$util-separator}';
            $stateSelector: ':focus';
          } @else if ($state == 'hover') {
            $stateModifier: 'hover#{$util-separator}';
            $stateSelector: ':hover';
          } @else if ($state == 'group-hover') {
            $stateModifier: 'group-hover#{$util-separator}';
            $groupPrefix: '.group:hover ';
          } @else {
            $groupPrefix: '';
            $stateModifier: '';
            $stateSelector: '';
          }
          #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}#{$prefix}#{$modifier}#{$stateSelector} {
            #{$prop}: $val;
          }
        }
      }
    }
  }
  @elseif (not $prefix and not $prop) {

    @if ($responsive) {
      @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix-modifier($breakpoint, $grid-breakpoints);

          @include generate-utilities($map: $map, $responsive: false, $infixModifier: $infix, $states: $states);
        }
      }
    }
    @else {
      @each $name, $props in $map {

        $groupPrefix: '';
        $stateModifier: '';
        $stateSelector: '';

        @each $state in $states {
          @if ($state == 'focus') {
            $stateModifier: 'focus#{$util-separator}';
            $stateSelector: ':focus';
          } @else if ($state == 'hover') {
            $stateModifier: 'hover#{$util-separator}';
            $stateSelector: ':hover';
          } @else if ($state == 'group-hover') {
            $stateModifier: 'group-hover#{$util-separator}';
            $groupPrefix: '.group:hover ';
          } @else {
            $groupPrefix: '';
            $stateModifier: '';
            $stateSelector: '';
          }
          #{$groupPrefix}.#{$infixModifier}#{$stateModifier}#{$util-prefix}#{$name}#{$stateSelector} {
            @if (length($props) > 0) {
              @if (type_of(nth($props, 1)) == 'list') {
                @each $prop in $props {
                  #{nth($prop, 1)}: nth($prop, 2);
                }
              }
              @else {
                #{nth($props, 1)}: nth($props, 2);
              }
            }
          }
        }
      }
    }
  }
}
